nav {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

nav>a {
    text-decoration: none;
    padding: 1rem;
}

.productCard {
    display: flex;
}

.productImg>img {
    width: 300px;
    height: 300px;
    margin: 20px;
}

.productDesc {
    margin-left: 2rem;
    padding: 1rem;
}

button {
    padding: 0.7rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    margin-top: 2rem;
}