html
  head
    title= "Pug Example"
  body
    h1= 'Hello Pug'
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum exercitationem beatae iure ullam a cumque corporis neque officia magni! Corporis!.
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum exercitationem beatae iure ullam a cumque corporis neque officia magni! Corporis!.